<%= flash[:message]%>
<form action="/login" method="POST">
<%= flash[:message] %>
  email <input type="email" name="email">
  password <input type="text" name="password">
  <input type="submit">
</form>


