  <div class="media">
     <%# <img class="d-flex mr-3" data-src="holder.js/64x64?theme=sky" alt="Generic placeholder image"> %>
     <img class="d-flex mr-3 user_icon" src="/images/<%= "#{@tweet['user_id']}.jpg" %>" >
     <div class="media-body">
       <h5 class="mt-0">Media heading</h5>
       <%= @tweet['content']%>
       <a href="/like/<%= "#{@tweet['id']}" %>">いいね！</a>
       <a href="/re_tweet/<%= "#{@tweet['id']}" %>">リツイート</a>
     </div>
     </div>
